body {
  margin: 0;
}

.container {
  margin: 20px;
  font-size: 1rem;
  background: #5bc49f;
  color: #5bc49f;
  padding: 20px;
}
.draggable {
  padding: 10px;
  text-align: center;
  background: #fff;
}
.draggable.dragging {
  opacity: 0.5;
}
